Velib Gateway Web Service/Web-Client/Connected Services/IntermediaryDecaux/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/IntermediaryWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntermediaryWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/IntermediaryWS/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfStations">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stations" nillable="true" type="tns:Stations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStations" nillable="true" type="tns:ArrayOfStations" />
  <xs:complexType name="Stations">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bikes" type="xs:int" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lng" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stations" nillable="true" type="tns:Stations" />
  <xs:complexType name="Stat">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageDelayIWS1" type="ser:duration" />
      <xs:element minOccurs="0" name="ClientRequestGoogle1" type="xs:int" />
      <xs:element minOccurs="0" name="ClientRequestIWS1" type="xs:int" />
      <xs:element minOccurs="0" name="CounterAverageDelayIWS" type="xs:int" />
      <xs:element minOccurs="0" name="WSVelibRequest1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stat" nillable="true" type="tns:Stat" />
</xs:schema>