Velib Gateway Web Service/WS-Client/Connected Services/IntermediaryDecauxClient/IntermediaryWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/IntermediaryWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntermediaryWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Stat">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageDelayIWS1" type="ser:duration" />
      <xs:element minOccurs="0" name="ClientRequestGoogle1" type="xs:int" />
      <xs:element minOccurs="0" name="ClientRequestIWS1" type="xs:int" />
      <xs:element minOccurs="0" name="CounterAverageDelayIWS" type="xs:int" />
      <xs:element minOccurs="0" name="WSVelibRequest1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stat" nillable="true" type="tns:Stat" />
</xs:schema>