Velib Gateway Web Service/WS-Client/Connected Services/IntermediaryDecauxClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Admin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/IntermediaryWS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdmin_GetStat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStat" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmin_SetTimer_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTimer" />
  </wsdl:message>
  <wsdl:message name="IAdmin_SetTimer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTimerResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdmin">
    <wsdl:operation name="GetStat">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/GetStat" message="tns:IAdmin_GetStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/GetStatResponse" message="tns:IAdmin_GetStat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTimer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/SetTimer" message="tns:IAdmin_SetTimer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/SetTimerResponse" message="tns:IAdmin_SetTimer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdmin" type="tns:IAdmin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStat">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTimer">
      <soap:operation soapAction="http://tempuri.org/IAdmin/SetTimer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Admin">
    <wsdl:port name="BasicHttpBinding_IAdmin" binding="tns:BasicHttpBinding_IAdmin">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/IntermediaryWS/Service2/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>